/* Base styles for body to apply a modern look */
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f5f5f5;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.stopwatch-container {
  background-color: #eceff1; /* Neutral grey background */
  padding: 40px;
  border-radius: 15px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
  width: 100%;
  max-width: 600px; /* Adjusted width for better layout */
  margin: auto;
  text-align: center;
}

.stopwatch-heading {
  font-size: 2.5rem;
  color: #333;
  margin-bottom: 1rem;
}

.stopwatch-display {
  font-family: "Courier New", Courier, monospace;
  color: #333;
  font-size: 3rem; /* Larger font size for the main display */
  margin-bottom: 50px;
}

.buttons-container {
  display: flex;
  justify-content: center; /* Centering buttons */
}

.stopwatch-button {
  background-color: #607d8b; /* Muted button color */
  color: white;
  border: none;
  padding: 12px 30px; /* Larger padding for a touch-friendly design */
  margin: 0 10px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  transition: transform 0.1s ease-in-out;
}

.stopwatch-button:hover {
  background-color: #455a64; /* Slightly darker on hover */
  transform: scale(1.05); /* Subtle grow effect on hover */
}

.laps-container {
  margin-top: 30px;
}

.lap {
  background-color: #cfd8dc; /* Slight background for laps */
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
}
